# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build
dist

# Environment variables
.env.local
.env.*.local
.env.production.template

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
